LibraryMaragementClient/Service References/PublisherServiceReference/PublisherService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PublisherService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8888/PublisherService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8888/PublisherService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8888/PublisherService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DatabaseAccess.DataTransferObjects" />
      <xsd:import schemaLocation="http://localhost:8888/PublisherService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPublisherService_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="IPublisherService_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="IPublisherService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IPublisherService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IPublisherService_GetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAll" />
  </wsdl:message>
  <wsdl:message name="IPublisherService_GetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="IPublisherService_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="IPublisherService_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IPublisherService_getPublishers_InputMessage">
    <wsdl:part name="parameters" element="tns:getPublishers" />
  </wsdl:message>
  <wsdl:message name="IPublisherService_getPublishers_OutputMessage">
    <wsdl:part name="parameters" element="tns:getPublishersResponse" />
  </wsdl:message>
  <wsdl:portType name="IPublisherService">
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://tempuri.org/IPublisherService/Add" message="tns:IPublisherService_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPublisherService/AddResponse" message="tns:IPublisherService_Add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IPublisherService/Delete" message="tns:IPublisherService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPublisherService/DeleteResponse" message="tns:IPublisherService_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IPublisherService/GetAll" message="tns:IPublisherService_GetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPublisherService/GetAllResponse" message="tns:IPublisherService_GetAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IPublisherService/Update" message="tns:IPublisherService_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPublisherService/UpdateResponse" message="tns:IPublisherService_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getPublishers">
      <wsdl:input wsaw:Action="http://tempuri.org/IPublisherService/getPublishers" message="tns:IPublisherService_getPublishers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPublisherService/getPublishersResponse" message="tns:IPublisherService_getPublishers_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPublisherService" type="tns:IPublisherService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://tempuri.org/IPublisherService/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IPublisherService/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <soap:operation soapAction="http://tempuri.org/IPublisherService/GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/IPublisherService/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPublishers">
      <soap:operation soapAction="http://tempuri.org/IPublisherService/getPublishers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PublisherService">
    <wsdl:port name="BasicHttpBinding_IPublisherService" binding="tns:BasicHttpBinding_IPublisherService">
      <soap:address location="http://localhost:8888/PublisherService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>