LibraryMaragementClient/Service References/PublisherServiceReference/PublisherService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DatabaseAccess.DataTransferObjects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DatabaseAccess.DataTransferObjects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Publisher">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DataTranseferObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Contact" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PublisherId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Publisher" nillable="true" type="tns:Publisher" />
  <xs:complexType name="DataTranseferObject">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="DataTranseferObject" nillable="true" type="tns:DataTranseferObject" />
  <xs:complexType name="ArrayOfPublisher">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Publisher" nillable="true" type="tns:Publisher" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPublisher" nillable="true" type="tns:ArrayOfPublisher" />
</xs:schema>