LibraryMaragementClient/Service References/LoanDetailServiceReference/LoanDetailService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LoanDetailService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8888/LoanDetailService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8888/LoanDetailService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8888/LoanDetailService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DatabaseAccess.DataTransferObjects" />
      <xsd:import schemaLocation="http://localhost:8888/LoanDetailService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILoanDetailService_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="ILoanDetailService_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="ILoanDetailService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="ILoanDetailService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="ILoanDetailService_GetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAll" />
  </wsdl:message>
  <wsdl:message name="ILoanDetailService_GetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="ILoanDetailService_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="ILoanDetailService_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="ILoanDetailService_GetLoanDetailsByLoanId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLoanDetailsByLoanId" />
  </wsdl:message>
  <wsdl:message name="ILoanDetailService_GetLoanDetailsByLoanId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLoanDetailsByLoanIdResponse" />
  </wsdl:message>
  <wsdl:message name="ILoanDetailService_GetLoanDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLoanDetails" />
  </wsdl:message>
  <wsdl:message name="ILoanDetailService_GetLoanDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLoanDetailsResponse" />
  </wsdl:message>
  <wsdl:portType name="ILoanDetailService">
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoanDetailService/Add" message="tns:ILoanDetailService_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoanDetailService/AddResponse" message="tns:ILoanDetailService_Add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoanDetailService/Delete" message="tns:ILoanDetailService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoanDetailService/DeleteResponse" message="tns:ILoanDetailService_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoanDetailService/GetAll" message="tns:ILoanDetailService_GetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoanDetailService/GetAllResponse" message="tns:ILoanDetailService_GetAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoanDetailService/Update" message="tns:ILoanDetailService_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoanDetailService/UpdateResponse" message="tns:ILoanDetailService_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLoanDetailsByLoanId">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoanDetailService/GetLoanDetailsByLoanId" message="tns:ILoanDetailService_GetLoanDetailsByLoanId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoanDetailService/GetLoanDetailsByLoanIdResponse" message="tns:ILoanDetailService_GetLoanDetailsByLoanId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLoanDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoanDetailService/GetLoanDetails" message="tns:ILoanDetailService_GetLoanDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoanDetailService/GetLoanDetailsResponse" message="tns:ILoanDetailService_GetLoanDetails_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILoanDetailService" type="tns:ILoanDetailService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://tempuri.org/ILoanDetailService/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/ILoanDetailService/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <soap:operation soapAction="http://tempuri.org/ILoanDetailService/GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/ILoanDetailService/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLoanDetailsByLoanId">
      <soap:operation soapAction="http://tempuri.org/ILoanDetailService/GetLoanDetailsByLoanId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLoanDetails">
      <soap:operation soapAction="http://tempuri.org/ILoanDetailService/GetLoanDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LoanDetailService">
    <wsdl:port name="BasicHttpBinding_ILoanDetailService" binding="tns:BasicHttpBinding_ILoanDetailService">
      <soap:address location="http://localhost:8888/LoanDetailService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>