LibraryMaragementClient/Service References/LoanDetailServiceReference/LoanDetailService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DatabaseAccess.DataTransferObjects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DatabaseAccess.DataTransferObjects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LoanDetail">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DataTranseferObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="CopyId" type="xs:int" />
          <xs:element minOccurs="0" name="LoanId" type="xs:int" />
          <xs:element minOccurs="0" name="ReturnDate" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LoanDetail" nillable="true" type="tns:LoanDetail" />
  <xs:complexType name="DataTranseferObject">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="DataTranseferObject" nillable="true" type="tns:DataTranseferObject" />
  <xs:complexType name="ArrayOfLoanDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LoanDetail" nillable="true" type="tns:LoanDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLoanDetail" nillable="true" type="tns:ArrayOfLoanDetail" />
</xs:schema>