LibraryMaragementClient/Service References/AuthorServiceReference/AuthorService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DatabaseAccess.DataTransferObjects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DatabaseAccess.DataTransferObjects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Author">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DataTranseferObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AuthorId" type="xs:int" />
          <xs:element minOccurs="0" name="Bio" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Contact" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Author" nillable="true" type="tns:Author" />
  <xs:complexType name="DataTranseferObject">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="DataTranseferObject" nillable="true" type="tns:DataTranseferObject" />
  <xs:complexType name="ArrayOfAuthor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Author" nillable="true" type="tns:Author" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAuthor" nillable="true" type="tns:ArrayOfAuthor" />
</xs:schema>