LibraryMaragementClient/Service References/BookCopyServiceReference/BookCopyService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DatabaseAccess.DataTransferObjects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DatabaseAccess.DataTransferObjects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Copy">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DataTranseferObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="BookId" type="xs:int" />
          <xs:element minOccurs="0" name="CopyId" type="xs:int" />
          <xs:element minOccurs="0" name="IsAvailable" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Copy" nillable="true" type="tns:Copy" />
  <xs:complexType name="DataTranseferObject">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="DataTranseferObject" nillable="true" type="tns:DataTranseferObject" />
  <xs:complexType name="ArrayOfCopy">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Copy" nillable="true" type="tns:Copy" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCopy" nillable="true" type="tns:ArrayOfCopy" />
</xs:schema>